@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
display: flex;
align-items: center;
flex-direction: column;
border: 1px solid grey;
font-family: 'Roboto', sans-serif;
background-color: cadetblue;
}

#editor{
  height: 200px;
}

#editor, #preview {
width: 90%;
margin-top: 10px;
font-family: inherit;
border: 1px solid grey;
padding: 10px;
}

#preview{

background-color: white;
margin-bottom: 10px;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}
blockquote{
  
  border-left: 3px solid;
  padding-left: 3px;

}